<div class="container">
  <% if params[:search] %>
  <p>You searched for "<%=params[:search] %>". Here are your results:</p> 
  <% @results.each_slice(6) do |results| %>
    <div class="row">
      <% results.each do |result| %>
        <div class="col-md-2">
          <a href="/movies/<%= result.id %>"><img src="http://image.tmdb.org/t/p/w154/<%= result.poster_path %>"></a>
          <p><%= result.title %> <span class="glyphicon glyphicon-star"><%= result.vote_average %></span></p>
        </div>
      <% end %>
      </div>
    <% end %>
    <hr>
  <% end %>

  <% if signed_in? %>
  <h1>What your friends are saying</h1>
    <p><%= render_activities(@personal_activities) %></p>
  <% end %>

  <h1>What the world is saying</h1>
    <p><%= render_activities(@world_activities) %></p>

  <h1>Now playing</h1>
  <%@now_playing.each_slice(6) do |movies| %>
    <div class="row">
    <% movies.each do |movie| %>
      <div class="col-md-2">
        <a href="/movies/<%= movie["id"] %>"><img src="http://image.tmdb.org/t/p/w154/<%= movie["poster_path"] %>"></a>
        <p><%= movie["title"] %> <span class="glyphicon glyphicon-star"><%= movie["vote_average"] %></span></p>
      </div>
      <% end %>
      </div>
    <% end %>
  
</div>