<div class="container">
  <% if params[:search] %>
  <p>You searched for "<%=params[:search] %>". Here are your results:</p> 
  <% @results.each_slice(6) do |results| %>
    <div class="row">
      <% results.each do |result| %>
        <div class="col-md-2">
          <a href="/movies/<%= result.id %>"><img src="http://image.tmdb.org/t/p/w154/<%= result.poster_path %>"></a>
          <p><%= result.title %> <span class="glyphicon glyphicon-star"><%= result.vote_average %></span></p>
        </div>
      <% end %>
      </div>
    <% end %>
    <hr>
  <% end %>

  <h1 class="text-center text-uppercase"><%= @movie.title %></h1>

  <% if @trailer.nil? == false %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <iframe width="100%" height="320" src="//v.traileraddict.com/<%= @trailer %>" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <img src="http://image.tmdb.org/t/p/w154/<%= @movie.poster_path %>" class="img-responsive img-rounded">
    </div>
    <div class="col-md-9">
      <p><strong>Release date:</strong> <%= @movie.release_date %></p>
      <p><strong>Overview:</strong> <%= @movie.overview %></p>
      <p><strong>Runtime:</strong> <%= @movie.runtime %></p>
      <p><strong>Tagline:</strong> <%= @movie.tagline %></p>
      <p><strong>Vote Average:</strong> <%= @movie.vote_average %></p>
    </div>
  </div>
  
  <% if @own_shout.empty? == false %>
    <h2>What you said about this movie</h2>
    <p><%= @own_shout.first.shout %>
    <% else %>
    <h2>Your thoughts?</h2>
    <%= form_for @shout, url: movie_shouts_path(movie_id: @movie.id), html: {class: "input-group"} do |f| %>
      <%= f.text_field :shout, class:"form-control" %>
      <span class="input-group-btn">
        <%= f.submit "Shout!", class:"btn btn-default" %>
      </span>
    <% end %>
  <% end %>

  <% if @shouts.empty? == false %>
  <h2>What people are saying</h2>
    <% @shouts.each do |shout| %>
      <div><%= image_tag User.find(shout.user_id).avatar.url, size:"32" %><%= shout.shout %> <em>by</em> 
        <%= link_to User.find(shout.user_id).name, user_path(User.find(shout.user_id)) %>
      </div>
    <% end %>
  <% else %>
    <p>There are no shouts yet for this movie</p>
  <% end %>
</div>
