<div class="container">
  <% if params[:search] %>
  <p>You searched for "<%=params[:search] %>". Here are your results:</p> 
  <% @results.each_slice(6) do |results| %>
    <div class="row">
      <% results.each do |result| %>
        <div class="col-md-2">
          <a href="/movies/<%= result.id %>"><img src="http://image.tmdb.org/t/p/w154/<%= result.poster_path %>"></a>
          <p><%= result.title %> <span class="glyphicon glyphicon-star"><%= result.vote_average %></span></p>
        </div>
      <% end %>
      </div>
    <% end %>
    <hr>
  <% end %>

  <h1 class="text-center text-uppercase"><%= @movie.title %></h1>

  <% if @trailer.nil? == false %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <iframe width="100%" height="320" src="//v.traileraddict.com/<%= @trailer %>" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <img src="http://image.tmdb.org/t/p/w154/<%= @movie.poster_path %>">
    </div>
    <div class="col-md-9">
      <p><strong>Release date:</strong> <%= @movie.release_date %></p>
      <p><strong>Overview:</strong> <%= @movie.overview %></p>
      <p><strong>Runtime:</strong> <%= @movie.runtime %></p>
      <p><strong>Tagline:</strong> <%= @movie.tagline %></p>
      <p><strong>Vote Average:</strong> <%= @movie.vote_average %></p>
    </div>
  </div>

  <h1>Your thoughts?</h1>
  <%= form_for @shout, url: movie_shouts_path(movie_id: @movie.id), html: {class: "form-group"} do |f| %>
    <%= f.text_field :shout %>
    <%= f.submit "Submit" %>
  <% end %>

  <% @shouts.each do |shout| %>
    <div><%= shout.shout %> <em>by</em> <%= User.find(shout.user_id).email %></div>
  <% end %>
</div>
