<!DOCTYPE html>
<html>
<head>
  <title>Movie Social App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic|Playfair+Display:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>

  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

<%= yield %>

  <footer class="footer">
      <div class="container">
        <p class="text-center">Movie App's awesome footer</p>
      </div>
  </footer>

</body>
</html>
